$font-size1 : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
$font-size2 :  Georgia, 'Times New Roman', Times, serif ;
$font-size3: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
$background-color1:rgb(225, 123, 123);
$background-color2:rgb(55, 251, 16);
$background-color3:rgb(243, 154, 30);
